body {
	background-color: rgba(238, 249, 191);
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

.big-box {
	width: 100vw;
	height: 100vh;
	filter: opacity(0.5);
	position: fixed;
}

.pause-box {
	background-color: transparent;
	filter: opacity(0);
	z-index: 5;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.page-header {
	margin: 40px auto 47px auto;
	font-weight: 700;
	font-size: 56px;
	line-height: 65.6px;
	color: rgb(117, 183, 158);
	text-align: center;
}

.clock-timer {
	color: rgb(117, 183, 158);
	font-size: 20px;
	font-weight: 500;
	position: absolute;
	top: 130px;
	right: 2vw;
	z-index: -1;
}

.game {
	background-color: transparent;
	margin: 0 auto;
	width: 90vw;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.card {
	background-color: transparent;
	width: 117px;
	height: 146px;
	border-radius: 8px;
	perspective: 1000px;
	margin: 35px 18px 0 18px;
}

.card-inner {
	position: relative;
	width: 117px;
	height: 146px;
	border: 1px solid rgb(153, 206, 168);
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 1s;
	transform-style: preserve-3d;
}

.clicked,
.right {
	transform: rotateY(180deg);
}

.card-front,
.card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
	backface-visibility: hidden;
	background-color: rgb(167, 233, 175);
}

.card-inner img {
	max-width: 117px;
	max-height: 146px;
	width: 100px;
	height: 100px;
}

.card-back {
	transform: rotateY(180deg);
}
